# Rust build artifacts
target/

# Virtual Environments
.venv

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*.cover
*.py,cover

# VS Code
.vscode/

# MacOS
.DS_Store

# Ruff
.ruff_cache

# env file
.env

# tools
.tools
.tmp

# binaries
.dist

# coverage
*-coverage.out
coverage.out

# pyd files
.pyd

# Libraries
**/*.so
**/*.dylib
**/*.dll
**/*.lib
**/*.a
artifacts

# Maven
.flattened-pom.xml

# TaskFile temporary files
.task

# Backup files
*.bak
