[ req ]
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn
days               = 36500

[ dn ]
C  = FR
ST = Ile De France
L  = Paris
O  = Agntcy
OU = Outshift
CN = client

[ req_ext ]
