# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

# Default values for slim-control-plane.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: "ghcr.io/agntcy/slim/control-plane"
  # This sets the pull policy for images.
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

# This is for the secretes for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: "slim-control"

config:
  northbound:
    httpHost: 0.0.0.0
    httpPort: "{{ .Values.service.north.port }}"

  southbound:
    httpHost: 0.0.0.0
    httpPort: "{{ .Values.service.south.port }}"
    tls:
      useSpiffe: true
    spire:
      socketPath: "unix:///run/spire/agent-sockets/api.sock"

  logging:
    level: DEBUG

spire:
  enabled: true
  trustedDomains:
  - spiffe://cluster-b.example

service:
  type: LoadBalancer
  south:
    port: 50052
  north:
    port: 50051
