# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

tracing:
  log_level: debug
  display_thread_names: true
  display_thread_ids: true

runtime:
  n_cores: 0
  thread_name: "data-plane-gateway"
  drain_timeout: 10s

services:
  gateway/0:
    server:
      endpoint: "0.0.0.0:46357"
      tls:
        cert_file: "./config/crypto/server-cert.pem"
        key_file: "./config/crypto/server-key.pem"

        client_ca_file: "./config/crypto/client-ca-cert.pem"

    clients: []
