# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: ci-test-and-build-data-plane

on:
  push:
    paths:
      - '.github/workflows/data-plane.yaml'
      - '.github/workflows/reusable-rust-build-and-test.yaml'
      - '.github/workflows/reusable-docker-build-push.yaml'
      - '.github/workflows/reusable-bindings-build-and-test.yaml'
      - '.github/actions/setup-rust/action.yaml'
      - 'data-plane/**'
    branches:
      - main
  pull_request:
    paths:
      - '.github/workflows/data-plane.yaml'
      - '.github/workflows/reusable-rust-build-and-test.yaml'
      - '.github/workflows/reusable-docker-build-push.yaml'
      - '.github/workflows/reusable-bindings-build-and-test.yaml'
      - '.github/actions/setup-rust/action.yaml'
      - 'data-plane/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  data-plane-build-and-test:
    name: Data plane - build & test
    uses: ./.github/workflows/reusable-rust-build-and-test.yaml
    with:
      working-directory: ./data-plane

  data-plane-docker-build:
    name: Build SLIM docker image
    uses: ./.github/workflows/reusable-docker-build-push.yaml
    with:
      bake-targets: slim
      image-tag: ${{ github.sha }}

  data-plane-bindings-test:
    name: Data plane - Bindings test
    uses: ./.github/workflows/reusable-bindings-build-and-test.yaml
