# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: ci-release-python

on:
  push:
    tags:
      - 'slim-bindings-python-v*'
      - 'slimrpc-v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-slimrpc:
    name: Build slimrpc
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/slimrpc-')
    uses: ./.github/workflows/reusable-python-build-and-test.yaml
    with:
      working-directory: ./data-plane/python/integrations
      prefix: slimrpc:python
