# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: ci-release-slimctl

on:
  push:
    tags:
      - 'slimctl-v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Generate Go protobuf and gRPC code
        run: task control-plane:proto:generate

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"

          # the --snapshot flag is required to release on custom tag patterns (not plain semver)
          # as a result artifacts won't be uploaded to GitHub Releases automatically
          args: release --clean  --snapshot --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate
        run: gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"

      - name: Upload to existing release
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          echo "Uploading artifacts to release $TAG"
          gh release upload "$TAG" $(find .dist/slimctl -type f -name '*.tar.gz') --clobber

      - name: Copy cask to tap
        run: |
          cp .dist/slimctl/homebrew/Casks/slimctl.rb ./Casks/slimctl.rb

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update cask for slimctl {{ github.ref_name }}
          title: Update slimctl cask to {{ github.ref_name }}
          body: Update cask to reflect release changes
          branch: update-cask
          base: main
      


