# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: ci-release-slimctl

on:
  push:
    tags:
      - 'slimctl-brew-*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Generate Go protobuf and gRPC code
        run: task control-plane:proto:generate

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          # 'latest', 'nightly', or a semver
          version: "~> v2"
          args: release --clean --snapshot --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate
        run: gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"

      - name: Upload to existing release
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          assets=echo $(find .dist/slimctl -type f -name '*.tar.gz')
          gh release upload "$TAG" "$assets" --clobber
