# Copyright AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: python-build-and-test
on:
  workflow_call:

jobs:
  python-bindings-sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install protoc
        run: |
          sudo apt update && sudo apt install -y protobuf-compiler
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
          working-directory: ./data-plane/python/bindings
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: ./data-plane/python/bindings/dist

  python-bindings-wheels:
    name: "Build Python Wheels: ${{ matrix.platform.target }}"
    runs-on: ${{ matrix.platform.runner }}
    defaults:
      run:
        shell: bash
        working-directory: ./data-plane/python/bindings
    strategy:
      matrix:
        platform:
          - runner: ubuntu-22.04
            os: linux
            target: x86_64-unknown-linux-musl
          - runner: ubuntu-24.04
            os: linux
            target: x86_64-unknown-linux-gnu
          - runner: ubuntu-24.04-arm
            os: linux
            target: aarch64-unknown-linux-musl
          - runner: ubuntu-24.04-arm
            os: linux
            target: aarch64-unknown-linux-gnu
          - runner: windows-latest
            os: windows
            target: x86_64-pc-windows-msvc
          # https://github.com/astral-sh/uv/issues/12906
          # - runner: windows-11-arm
          #   os: windows
          #   target: aarch64
          - runner: macos-15-intel
            os: macos
            target: x86_64-apple-darwin
          - runner: macos-15
            os: macos
            target: aarch64-apple-darwin
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Python
        uses: ./.github/actions/setup-python
        with:
          py-install: false
          poetry-install: false
          uv-install: true
      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          workspace: ./data-plane
      - name: Build wheels
        run: |
          task python:bindings:packaging TARGET=${{ matrix.platform.target }} PROFILE=release
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.platform.os }}-${{ matrix.platform.target }}
          path: ./data-plane/python/bindings/dist
